<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; background-color: #D00000">

	<div class="">
            <div class="navbar-header" data-ng-click="deactivateAll()">
	             <a class="navbar-brand" data-ng-href="http://www.ttsiglobal.com/" >
			        <img style="margin-top: -9px" alt="Brand" height="35px" width="80px" src="img/ttsilogo.png">
			      </a>
                <a class="navbar-brand navbar-border" data-ng-href="#!/" >Home</a>
           
            </div>
	</div> 
</nav>



